body{
    background-color:#68cdd5
}


.image1{
    display: block;
    width:28px;
    margin-left: 5px;
    margin-bottom:50px;
    padding-top:5px;
}
.image2 {
    display:block;
    margin:auto;
    width:100px;
    height:60px;
}
.paragraph{
    color: white;
    text-align: center;
    padding-bottom:130px;
    margin-top:130px;
    margin-left:40px;
    margin-right:40px;

}
.box1{
    display:inline;
    float: left;
    color: azure;

    text-align: center;
    font-size:10px;
    margin-bottom:80px;
    margin-left:40px;

}

.box2{
    display:inline;
    float:right;
    color: azure;
    font-size:10px;
    text-align:center;
    padding-bottom:40px;
    margin-right:40px;
}
.image3{
    width:40px;height:40px;
}

