body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 780px;
  background-color: white;
}
header {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: #1ba2ea;
  img {
    margin: 0 1rem;
  }
  span {
    margin: 0 1rem;
    color: #f0f0f0;
    font-size: 1rem;
  }
}
main {
  padding-top: 1rem;
  background-color: #eff0f4;
  .box {
    display: flex;
    align-items: center;
    margin: .2rem 0;
    padding: .5rem 0;
    background-color: white;
    img {
      margin: 0 2rem;
    }
    input {
      -webkit-appearance: none;
      outline: none;
      height: 32px;
      padding-left: 1rem;
      border: 0;
      border-left: 1px solid #b3b3b3;
    }
  }
  .block {
    @extend .box;
    img {
      margin: 0 1.6rem;
    }
  }
  .link {
    display: block;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin: 1rem 1rem 0 1rem;
    color: #f0f0f0;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: #1ba2ea;
  }
  article {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    a {
      color: #b3b3b3;
      font-size: 1rem;
      outline: none;
      text-decoration: none;
      &:hover {
        font-size: 1.2rem;
      }
    }
  }
}
footer {
  background-color: #eff0f4;
   .cool {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 1rem 0;
    .solid {
      width: 5rem;
      height: 1px;
      font-size: 1rem;
      background-color: #b3b3b3;
    }
  }
  .cook {
    @extend .cool;
    padding: 0 0 6rem 0;
    a {
    color: black;
    text-align: center;
    text-decoration: none;
    img {
      display: block;
      margin: 1.5rem 1rem;
    }
    &:hover p {
      font-size: 1.2rem;
      color: #1ba2ea;
    }
  }
  }
}
