*, *:before, *:after {
  box-sizing: border-box; }

button {
  outline: none;
  border: none; }

a {
  display: block; }

h2 {
  font-size: 2.5rem; }

hr {
  border: none;
  width: 3rem;
  height: 2px;
  margin: 3rem auto;
  background-color: #61bc63; }

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%; }
  body header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999; }
    body header .navbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin: 0; }
      body header .navbar .navbar-brand img {
        width: 8rem; }
    body header .text-bot {
      text-align: center;
      justify-content: flex-end; }
      body header .text-bot .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh; }
        body header .text-bot .nav-item .nav-link {
          padding: 0 .3rem;
          text-align: center;
          font-size: 1rem; }
        body header .text-bot .nav-item .nav-btn {
          padding: .5rem .5rem;
          margin: 2rem 0;
          border-radius: 5px;
          white-space: nowrap;
          text-decoration: none;
          color: #ffffff;
          background-color: #61bc63; }
        body header .text-bot .nav-item > img {
          width: 2rem;
          margin: 0 1rem; }
        body header .text-bot .nav-item .nav-item :hover {
          display: block;
          font-size: 1rem;
          border-bottom: 2px solid #f0f0f0; }
  body main .carousel-slide .carousel-indicators li {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffff; }
  body main .carousel-slide .carousel-control-prev-icon {
    width: 1rem;
    height: 1rem; }
  body main .carousel-slide .carousel-control-next-icon {
    width: 1rem;
    height: 1rem; }
  body main .carousel-slide .carousel-text {
    position: absolute;
    text-align: center;
    color: #ffffff; }
  body main .skills .row {
    padding: 4rem 0; }
    body main .skills .row .col {
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
      body main .skills .row .col .h1 {
        height: 2rem;
        margin-top: 1.5rem;
        font-size: 1.6rem;
        font-weight: 700;
        white-space: nowrap; }
      body main .skills .row .col .h6 {
        max-height: 5rem;
        margin: .5rem 0;
        color: #bababa; }
      body main .skills .row .col .icon {
        height: 4rem; }
  body main .novi {
    padding: 20vh 0;
    background-color: #f5f5f5; }
    body main .novi .novi-title {
      padding: 3rem 0;
      text-align: center; }
    body main .novi .novi-icon {
      display: inline-block; }
    body main .novi .novi-subtitle {
      flex: 1;
      padding-left: 2rem; }
    body main .novi .novi-text {
      padding: 2rem; }
    body main .novi .novi-btn {
      padding: .5rem 1rem;
      margin: 2rem 0;
      border-radius: 5px;
      white-space: nowrap;
      text-decoration: none;
      color: #ffffff;
      background-color: #61bc63; }
    body main .novi .novi-img {
      width: 100%;
      height: 100%;
      background-color: #dddddd; }
  body main .template {
    margin-top: 10vh;
    text-align: center; }
    body main .template h3 > span {
      color: #61bc63; }
  body main .theme {
    margin: 2rem 0;
    text-decoration: none; }
    body main .theme .theme-item {
      margin: 1rem .5rem; }
      body main .theme .theme-item img {
        width: 100%; }
      body main .theme .theme-item .theme-item-text {
        padding: 1rem 0;
        text-align: center;
        color: black;
        font-size: 1.2rem;
        font-weight: 700; }
      body main .theme .theme-item:hover {
        text-decoration: none; }
        body main .theme .theme-item:hover img {
          margin-top: -.5rem; }
        body main .theme .theme-item:hover .theme-item-text {
          margin-top: .5rem;
          color: #61bc63; }
      body main .theme .theme-item:visited {
        color: #61bc63;
        text-decoration: none; }
      body main .theme .theme-item:active {
        color: #61bc63;
        text-decoration: none; }
  body main .tag-customer {
    padding: 20vh 0;
    text-align: center;
    background-color: #f5f5f5; }
    body main .tag-customer span {
      color: #61bc63; }
    body main .tag-customer p {
      color: #9d9d9d; }
  body main .page-layouts h2 {
    margin-top: 20vh;
    text-align: center; }
  body main .page-layouts .layouts-control ul {
    display: flex;
    justify-content: center;
    list-style: none; }
    body main .page-layouts .layouts-control ul li {
      padding: 1rem 2rem;
      border-bottom: 1px solid #9d9d9d; }
      body main .page-layouts .layouts-control ul li:hover {
        border-color: #61bc63; }
        body main .page-layouts .layouts-control ul li:hover a {
          color: #434345;
          text-decoration: none; }
      body main .page-layouts .layouts-control ul li a {
        color: #9d9d9d; }
  body main .page-layouts .layouts-content {
    margin: 2rem 0;
    text-decoration: none; }
    body main .page-layouts .layouts-content .types-item,
    body main .page-layouts .layouts-content .skins-item,
    body main .page-layouts .layouts-content .intro-item {
      margin: 1rem .5rem;
      text-align: center; }
      body main .page-layouts .layouts-content .types-item img,
      body main .page-layouts .layouts-content .skins-item img,
      body main .page-layouts .layouts-content .intro-item img {
        width: 100%; }
      body main .page-layouts .layouts-content .types-item .types-item-caption,
      body main .page-layouts .layouts-content .types-item .skins-item-caption,
      body main .page-layouts .layouts-content .types-item .intro-item-caption,
      body main .page-layouts .layouts-content .skins-item .types-item-caption,
      body main .page-layouts .layouts-content .skins-item .skins-item-caption,
      body main .page-layouts .layouts-content .skins-item .intro-item-caption,
      body main .page-layouts .layouts-content .intro-item .types-item-caption,
      body main .page-layouts .layouts-content .intro-item .skins-item-caption,
      body main .page-layouts .layouts-content .intro-item .intro-item-caption {
        padding: 1rem 0;
        color: black;
        font-size: 1.2rem;
        font-weight: 700; }
      body main .page-layouts .layouts-content .types-item:hover,
      body main .page-layouts .layouts-content .skins-item:hover,
      body main .page-layouts .layouts-content .intro-item:hover {
        text-decoration: none; }
        body main .page-layouts .layouts-content .types-item:hover img,
        body main .page-layouts .layouts-content .skins-item:hover img,
        body main .page-layouts .layouts-content .intro-item:hover img {
          margin-top: -.5rem; }
        body main .page-layouts .layouts-content .types-item:hover .types-item-caption,
        body main .page-layouts .layouts-content .types-item:hover .skins-item-caption,
        body main .page-layouts .layouts-content .types-item:hover .intro-item-caption,
        body main .page-layouts .layouts-content .skins-item:hover .types-item-caption,
        body main .page-layouts .layouts-content .skins-item:hover .skins-item-caption,
        body main .page-layouts .layouts-content .skins-item:hover .intro-item-caption,
        body main .page-layouts .layouts-content .intro-item:hover .types-item-caption,
        body main .page-layouts .layouts-content .intro-item:hover .skins-item-caption,
        body main .page-layouts .layouts-content .intro-item:hover .intro-item-caption {
          margin-top: .5rem;
          color: #61bc63; }
      body main .page-layouts .layouts-content .types-item:visited,
      body main .page-layouts .layouts-content .skins-item:visited,
      body main .page-layouts .layouts-content .intro-item:visited {
        color: #61bc63;
        text-decoration: none; }
      body main .page-layouts .layouts-content .types-item:active,
      body main .page-layouts .layouts-content .skins-item:active,
      body main .page-layouts .layouts-content .intro-item:active {
        color: #61bc63;
        text-decoration: none; }
  body main .core-features {
    margin: 2rem 0; }
    body main .core-features .feature {
      transition: 3s ease-in; }
      body main .core-features .feature .feature-icon-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        margin: 2rem auto;
        border-radius: 50%;
        background-color: #f5f5f5; }
      body main .core-features .feature .feature-caption {
        padding: 1rem 0;
        color: black;
        font-weight: 700; }
      body main .core-features .feature .feature-caption {
        text-align: center;
        color: #525254; }
  body main .page-prompt {
    color: #ffffff;
    background: -webkit-linear-gradient(left, #5cbcd3 0%, #68bfaf 30%, #7ac270 100%); }
    body main .page-prompt .page-prompt-content {
      padding: 8vh; }
      body main .page-prompt .page-prompt-content .prompt-link {
        display: flex;
        align-items: center; }
        body main .page-prompt .page-prompt-content .prompt-link .prompt-btn {
          padding: 1rem;
          margin: 0 auto;
          color: #ffffff;
          border: 3px solid #ffffff;
          border-radius: 10px;
          background-color: #71c090;
          text-decoration: none; }
          body main .page-prompt .page-prompt-content .prompt-link .prompt-btn .prompt-icon {
            width: 2rem;
            height: 2rem; }
          body main .page-prompt .page-prompt-content .prompt-link .prompt-btn:hover {
            color: #525254;
            text-decoration: none; }
  body main .custom-reviews {
    margin: 10vh 0; }
    body main .custom-reviews .custom-reviews-star {
      display: block;
      margin: 3rem auto; }
    body main .custom-reviews h2 {
      text-align: center; }
    body main .custom-reviews .custom-reviews-photo {
      margin: 5vh 0;
      box-shadow: 0 5px 10px 0 #f5f5f5; }
  body main .feature-slide {
    text-align: center;
    background-color: #f5f5f5; }
    body main .feature-slide h2 {
      padding-top: 10vh; }
    body main .feature-slide h3 > span {
      color: #61bc63; }
  body main .page-sliderSale {
    padding: 10vh 0;
    text-align: center; }
    body main .page-sliderSale h2 {
      margin-bottom: 3rem; }
      body main .page-sliderSale h2 > span {
        color: #dd1f00; }
    body main .page-sliderSale .sliderSale-photo {
      margin: 0 auto; }
      body main .page-sliderSale .sliderSale-photo > img {
        width: 100%; }
  body main .retina {
    padding: 10vh 0;
    background-color: #f5f5f5; }
    body main .retina .retina-text > h2 {
      margin-top: 5rem; }
      body main .retina .retina-text > h2 > span {
        color: #dd1f00; }
    body main .retina .retina-text > p {
      padding: 2rem;
      color: #212529; }
    @media screen and (max-width: 768px) {
      body main .retina .retina-text {
        text-align: center; } }
    body main .retina .retina-photo {
      margin: 0 auto; }
      body main .retina .retina-photo img {
        width: 100%; }
      @media screen and (max-width: 768px) {
        body main .retina .retina-photo {
          display: flex;
          align-items: center; } }
  body main .noImitation {
    padding: 10vh;
    text-align: center;
    color: #ffffff;
    background: url("../img/landing-104-1920x1348.jpg") no-repeat 0 0;
    background-size: 100% 100%; }
    body main .noImitation h2 {
      padding: 2rem; }
    body main .noImitation p {
      padding-bottom: 4rem; }
    body main .noImitation span {
      display: block;
      padding: 1rem 0; }
  body main .portfolio-templates h2 {
    padding-top: 5rem; }
  body main .portfolio-templates p {
    padding-top: 3rem;
    color: #212529; }
  body main .portfolio-templates .template-photo {
    padding-top: 2rem;
    height: 30rem;
    position: relative;
    overflow: hidden; }
    body main .portfolio-templates .template-photo .portfolio-templates-one {
      position: absolute;
      top: 10%;
      left: 25%; }
    body main .portfolio-templates .template-photo .portfolio-templates-two {
      position: absolute;
      top: 38%;
      left: 0; }
    body main .portfolio-templates .template-photo .portfolio-templates-three {
      position: absolute;
      top: 60%;
      left: 30%; }
    body main .portfolio-templates .template-photo .portfolio-templates-four {
      position: absolute;
      top: 50%;
      left: 50%; }
  body main .wordPress {
    padding: 10vh 0;
    color: #ffffff;
    background: -webkit-linear-gradient(left, #49b771 40%, #79c156 100%); }
    body main .wordPress .wordPress-text > p {
      padding: 2rem 0; }
    body main .wordPress .wordPress-photo {
      margin: 0 auto; }
      body main .wordPress .wordPress-photo img {
        width: 100%; }
  body main .e-commerce h2 {
    padding-top: 5rem; }
  body main .e-commerce p {
    padding-top: 3rem;
    color: #212529; }
  body main .e-commerce .e-commerce-list {
    list-style: none; }
    body main .e-commerce .e-commerce-list .e-commerce-item {
      position: relative;
      padding: 10px 0; }
    body main .e-commerce .e-commerce-list .e-commerce-item::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 23px;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #61bc63; }
  body main .e-commerce .e-commerce-photo {
    display: block;
    padding-top: 4rem;
    height: 30rem;
    position: relative;
    overflow: hidden; }
    body main .e-commerce .e-commerce-photo .e-commerce-one {
      position: absolute;
      top: 20%;
      left: 10%; }
    body main .e-commerce .e-commerce-photo .e-commerce-two {
      position: absolute;
      top: 20%;
      left: 50%; }
    body main .e-commerce .e-commerce-photo .e-commerce-three {
      position: absolute;
      top: 10%;
      left: 30%; }
  body main .event-management {
    padding: 10vh 0;
    color: #ffffff;
    background: -webkit-linear-gradient(left, #8070b3 40%, #61a6db 100%); }
    body main .event-management .event-management-text {
      padding-left: 4rem; }
      body main .event-management .event-management-text > p {
        padding: 2rem 0; }
    body main .event-management .event-management-photo img {
      width: 100%;
      height: 40vh; }
  body main .tag-timesaver {
    padding: 10vh  0;
    text-align: center; }
    body main .tag-timesaver h2 {
      padding-bottom: 2rem; }
  body main .demo-image {
    padding: 40vh  0;
    text-align: center;
    color: #ffffff;
    background: url("../img/home-intro-15-1920x592.jpg") no-repeat 0 0;
    background-size: 100% 100%; }
    body main .demo-image h2 {
      padding-bottom: 2rem; }
  body main .tag-service {
    padding-top: 10vh; }
    body main .tag-service .service-text > img {
      width: 5rem;
      height: 5rem; }
    body main .tag-service .service-text > p {
      padding: 2rem 0; }
    body main .tag-service .service-photo {
      margin: 0 auto; }
      body main .tag-service .service-photo > img {
        width: 100%;
        height: 60vh; }
  body main .tag-footer {
    display: block;
    padding: 10vh 0;
    color: #ffffff;
    background: -webkit-linear-gradient(left, #4bb770 50%, #7ac270 100%); }
    body main .tag-footer .tag-footer-text {
      display: flex;
      justify-content: center; }
    body main .tag-footer .tag-footer-left {
      display: flex;
      justify-content: center; }
      body main .tag-footer .tag-footer-left .tag-footer-btn {
        padding: 1rem;
        color: #ffffff;
        border: 3px solid #ffffff;
        border-radius: 10px;
        text-decoration: none;
        background-color: #61bc63; }
        body main .tag-footer .tag-footer-left .tag-footer-btn .tag-footer-icon {
          width: 2rem;
          height: 2rem; }
        body main .tag-footer .tag-footer-left .tag-footer-btn:hover {
          color: #525254;
          text-decoration: none; }
  body footer {
    padding: 2rem;
    text-align: center;
    color: #525254;
    background-color: #191919; }
    body footer img {
      width: 8rem;
      margin: 0 auto 1rem; }

/*# sourceMappingURL=home_page.css.map */
