@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}
a {
  display: block;
}
html {

}

h2 {
  font-size: 2.5rem;
}
hr {
  border: none;
  width: 3rem;
  height: 2px;
  margin: 3rem auto;
  background-color: #61bc63;
}



body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;

  -webkit-text-size-adjust: 100%;

  header {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(0,0,0,.5);
      z-index: 999999;

    .navbar  {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin: 0;

      .navbar-brand {
        img {
          width: 8rem;
        }
      }

    }
    .navar-toggler {

    }
    .text-bot {
      text-align: center;
      justify-content: flex-end;

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;

        .nav-link {
          padding: 0;
          line-height: 10vh;
          text-align: center;
          font-size: 1rem;

        }

        .nav-btn {
          padding: .5rem 1rem;
          margin: 2rem 0;
          border-radius: 5px;
          white-space: nowrap;
          text-decoration: none;
          color: #ffffff;
          background-color: #61bc63;
        }

        > img {
          width: 2rem;
          margin: 0 1rem;
        }

        .nav-item :hover {
          display: block;
          font-size: 1rem;
          border-bottom: 2px solid #f0f0f0;
        }
      }
    }
  }
  main {
    .carousel-slide {
      .carousel-indicators li {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid #ffffff;
      }
      .carousel-control-prev-icon {
        width: 1rem;
        height: 1rem;

      }

      .carousel-control-next-icon {
        width: 1rem;
        height: 1rem;
      }
      .carousel-text {
        position: absolute;
        text-align: center;
        color: #ffffff;
      }
    }
    .skills {
      .row {
        padding: 4rem 0;

        .col {
          text-align: center;
          display: table-cell;
          vertical-align: middle;

          .h1 {
            height: 2rem;
            margin-top: 1.5rem;
            font-size: 1.6rem;
            font-weight: 700;
            white-space: nowrap;
          }

          .h6 {
            max-height: 5rem;
            margin: .5rem 0;
            color: #bababa;
          }

          .icon {
            height: 4rem;
          }
        }
      }
    }

    .novi {
      padding: 20vh 0;
      background-color: #f5f5f5;

      .novi-title {
        padding: 3rem 0;
        text-align: center;
      }

      .novi-icon {
        display: inline-block;
      }

      .novi-subtitle {
        flex: 1;
        padding-left: 2rem;
      }

      .novi-text {
        padding: 2rem;
      }
      .novi-btn {
        padding: .5rem 1rem;
        margin: 2rem 0;
        border-radius: 5px;
        white-space: nowrap;
        text-decoration: none;
        color: #ffffff ;
        background-color: #61bc63;
      }
      .novi-img {
        width: 100%;
        height: 100%;
        background-color: #dddddd;
      }
    }

    .template {
      margin-top: 10vh;
      text-align: center;

      h3 {
        > span {
          color: #61bc63;
        }
      }
    }

    .theme {
      margin: 2rem 0;
      text-decoration: none;

      .theme-item {
        margin: 1rem .5rem;

        img {
          width: 100%;
        }

        .theme-item-text {
          padding: 1rem 0;
          text-align: center;
          color: black;
          font-size: 1.2rem;
          font-weight: 700;
        }

        &:hover {
          text-decoration: none;

          img {
            margin-top: -.5rem;
          }

          .theme-item-text {
            margin-top: .5rem;
            color: #61bc63;
          }

        }

        &:visited {
          color: #61bc63;
          text-decoration: none;
        }

        &:active {
          color: #61bc63;
          text-decoration: none;
        }

      }
    }

    .tag-customer {
      padding: 20vh 0;
      text-align: center;
      background-color: #f5f5f5;

      span {
        color: #61bc63;
      }

      p {
        color: #9d9d9d;
      }
    }

    .page-layouts {
      h2 {
        margin-top: 20vh;
        text-align: center;
      }

      .layouts-control {

        ul {
          display: flex;
          justify-content: center;
          list-style: none;
          li {
            padding: 1rem 2rem;
            border-bottom: 1px solid #9d9d9d;
            &:hover {
              border-color: #61bc63;
              a {
                color: #434345;
                text-decoration: none;
              }
            }
            a {
              color: #9d9d9d;
            }
            #all:focus {

            }
            .types:focus{

            }
          }
        }

      }
      .layouts-content {
        margin: 2rem 0;
        text-decoration: none;

        .types-item ,
        .skins-item,
        .intro-item
        {
          margin: 1rem .5rem;
          text-align: center;

          img {
            width: 100%;
          }

          .types-item-caption,
          .skins-item-caption,
          .intro-item-caption {

            padding: 1rem 0;
            color: black;
            font-size: 1.2rem;
            font-weight: 700;
          }

          &:hover {
            text-decoration: none;

            img {
              margin-top: -.5rem;
            }

            .types-item-caption,
            .skins-item-caption,
            .intro-item-caption {
              margin-top: .5rem;
              color: #61bc63;
            }

          }

          &:visited {
            color: #61bc63;
            text-decoration: none;
          }

          &:active {
            color: #61bc63;
            text-decoration: none;
          }
        }

      }
    }
    .core-features {
        margin: 2rem 0;
      .feature {
        transition: 3s ease-in;

        .feature-icon-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 6rem;
          height: 6rem;
          margin: 2rem auto;
          border-radius: 50%;
          background-color: #f5f5f5;
        }

        .feature-caption {
          padding: 1rem 0;
          color: black;
          font-weight: 700;
        }

        .feature-caption {
          text-align: center;
          color: #525254;
        }
      }
    }
    .page-prompt {
      color: #ffffff;
      background: -webkit-linear-gradient(left,#5cbcd3 0%,#68bfaf 30%,#7ac270 100%);
      .page-prompt-content {
        padding: 8vh;
        .prompt-link {
          display: flex;
          align-items: center;
          .prompt-btn {
            padding: 1rem;
            margin: 0 auto;
            color: #ffffff;
            border: 3px solid #ffffff;
            border-radius: 10px;
            background-color: #71c090;

            text-decoration: none;
            .prompt-icon {
              width: 2rem;
              height: 2rem;
            }
            &:hover {
              color: #525254;
              text-decoration: none;

            }
        }
        }
      }
    }
    .custom-reviews {
      margin: 10vh 0;
      .custom-reviews-star {
        display: block;
        margin: 3rem auto;
      }
      h2 {
        text-align: center;
      }
      .custom-reviews-photo {
        margin: 5vh 0;
        box-shadow: 0 5px 10px 0 #f5f5f5;
      }
    }
    .feature-slide {
      text-align: center;
      background-color: #f5f5f5;
      h2 {
        padding-top: 10vh;
      }
      h3>span {
        color: #61bc63;
      }

      //.carousel-slide {
      //
      //    position: relative;
      //    width: 100%;
      //    height: 20rem;
      //    overflow: hidden;
      //    animation: imgMove 5s linear infinite;
      //
      //  @keyframes imgMove {
      //    0%, 30% {
      //      margin-left: -100%;
      //    }
      //    35%, 60% {
      //      margin-left: -200%;
      //    }
      //    65%, 100% {
      //
      //    }
      //  }


          //.carousel-box {
          //  .carousel-item {
          //    .carousel-reveal {
          //      flex-flow: wrap;
          //      display: flex;
          //     padding: 0;
          //      div {
          //
          //        margin: 0;
          //        padding: 0;
          //        img {
          //          width: 100%;
          //          flex-shrink: 1;
          //          padding: 0;
          //          margin: 0;
          //        }
          //      }
        //}
        //  }
        //}
      //  .carousel-indicators li {
      //    width: .5rem;
      //    height: .5rem;
      //    border-radius: 50%;
      //    margin: .25rem;
      //    background-color: black;
      //    &:hover {
      //      background-color: #61bc63;
      //    }
      //  }
      //}
    }

    .page-sliderSale {
      padding: 10vh 0;
      text-align: center;
      h2  {
        margin-bottom: 3rem;
        >span {
          color: #dd1f00;
        }
      }
      .sliderSale-photo {
        margin: 0 auto;
        > img {
          width: 100%;
        }
      }

    }
    .retina {
      padding: 10vh 0;
      background-color: #f5f5f5;
      .retina-text {
        >  h2  {
          margin-top: 5rem;
          >span {
            color: #dd1f00;
          }
        }
        > p {
          padding: 2rem;
          color: #212529;
        }
        @media screen and (max-width:768px){
        text-align: center;
      }
      }
      .retina-photo {
        margin: 0 auto;
        img {
          width: 100%;
        }
        @media screen and (max-width:768px){
        display: flex;
        align-items: center;
      }
      }

    }
    .noImitation {
      padding: 10vh;
      text-align: center;
      color: #ffffff;
      background: url("../img/landing-104-1920x1348.jpg") no-repeat 0 0;
      background-size: 100% 100%;
      h2  {
        padding: 2rem;
      }
      p {
        padding-bottom: 4rem;
      }
      span {
        display: block;
        padding: 1rem 0;
      }
    }
    .portfolio-templates {
       h2  {
        padding-top: 5rem;
      }
      p {
        padding-top: 3rem;
        color: #212529;
      }
      .template-photo {
        padding-top: 2rem;
        height: 30rem;
        position: relative;
        overflow: hidden;
        .portfolio-templates-one {
          position: absolute;
          top: 10%;
          left: 25%;
        }
        .portfolio-templates-two {
          position: absolute;
          top: 38%;
          left: 0;
        }
        .portfolio-templates-three {
          position: absolute;
          top: 60%;
          left: 30%;
        }
        .portfolio-templates-four {
          position: absolute;
          top: 50%;
          left: 50%;
        }
      }
    }
    .wordPress{
      padding: 10vh 0;
      color: #ffffff;
      background: -webkit-linear-gradient(left, #49b771 40%,#79c156 100%);
      .wordPress-text {
        > p {
          padding: 2rem 0;
        }
      }
      .wordPress-photo {
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
    .e-commerce {
      h2  {
        padding-top: 5rem;
      }
      p {
        padding-top: 3rem;
        color: #212529;
      }
      .e-commerce-list {
        list-style: none;
        .e-commerce-item {
          position: relative;
          padding: 10px 0;
        }
        .e-commerce-item::before {
          content: '';
          position: absolute;
          left: -15px;
          top: 23px;
          transform: translateY(-50%);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #61bc63;
        }
      }
      .e-commerce-photo {
        display: block;
        padding-top: 4rem;
        height: 30rem;
        position: relative;
        overflow: hidden;

        .e-commerce-one {
          position: absolute;
          top: 20%;
          left: 10%;
        }

        .e-commerce-two {
          position: absolute;
          top: 20%;
          left: 50%;
        }

        .e-commerce-three {
          position: absolute;
          top: 10%;
          left: 30%;
        }
      }
    }
    .event-management {
      padding: 10vh 0;
      color: #ffffff;
      background: -webkit-linear-gradient(left, #8070b3 40%,#61a6db 100%);
      .event-management-text {
        padding-left: 4rem;
        > p {
          padding: 2rem 0;
        }
      }
      .event-management-photo {

        img {
          width: 100%;
          height: 40vh;
        }
      }
    }
    .tag-timesaver {
      padding: 10vh  0;
      text-align: center;
      h2 {
        padding-bottom: 2rem;
      }
    }
    .demo-image {
      padding: 40vh  0;
      text-align: center;
      color: #ffffff;
      background: url("../img/home-intro-15-1920x592.jpg") no-repeat 0 0;
      background-size: 100% 100%;

      h2 {
        padding-bottom: 2rem;
      }
    }

    .tag-service{
      padding-top: 10vh;
       .service-text {
        >img {
          width: 5rem;
          height: 5rem;

        }
        > p {
          padding: 2rem 0;
        }
      }
      .service-photo {
          margin: 0 auto;
        >img {
          width: 100%;
          height: 60vh;
        }
      }
    }
    .tag-footer {
      display: block;
      padding: 10vh 0;
      color: #ffffff;
      background: -webkit-linear-gradient(left,#4bb770 50%,#7ac270 100%);
      .tag-footer-text {
        display:flex;
        justify-content: center;
      }
      .tag-footer-left {
        display: flex;
        justify-content: center;
        .tag-footer-btn {
          padding: 1rem;
          color: #ffffff;
          border: 3px solid #ffffff;
          border-radius: 10px;
          text-decoration: none;
          background-color: #61bc63;

          .tag-footer-icon {
            width: 2rem;
            height: 2rem;
          }
          &:hover {
            color: #525254;
            text-decoration: none;
          }
        }
      }



    }
  }
  footer {
    padding: 2rem;
    text-align: center;
    color: #525254;
    background-color: #191919;
    img {
      width: 8rem;
      margin: 0 auto 1rem;
    }
  }
}