@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html {
  body {
    h1 {
      text-align: center;
      color: #721c24;
      text-shadow: 1px 5px 10px #1b1e21;
    }
  }
}
