body{
    margin:0;
    border:none;
    background-color: azure;
}
.head{
    background-color: #68cdd5;
    display:flex;display:-webkit-flex;
    justify-content: space-between;
    align-items:center;
    height:70px;
}

.box1{
    padding-left:20px;
    color: aliceblue;

}
.box2{
    color: aliceblue;
    font-size:20px;

}
.box3 {
    padding-right: 20px;

    color: aliceblue;
}


.loo{display:flex;
    margin-top:20px;
    background-color: white;
    height:70px;
}
.image {width:10%;
        display:flex;
        justify-content: center;
        align-items: center;
        border-right: 1px;
        border-right-color: darkgray;
}
.space {
    border:0;
    outline:none;
    width:90%;
    float:right;
    line-height:50px;
    align-items: center;
}

.lol{display:flex;
    margin-top:20px;
    background-color: white;
    height:70px;
}
.image2{
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.space2{
    border-width:0;
    outline:none;
    width:90%;
    float:right;
  align-items:center;
    line-height:50px;
}

.what{

    background-color: #68cdd5;
    text-align:center;
    line-height:80px;
    margin-top:70px;
}
.N{
    border-width:0;
    outline:none;
    background-color: #68cdd5;
    color: azure;
    font-size:18px;
}
.W {
    float: right;
    color: #68cdd5;
}