body{
    margin:0;
    border:none;

}
.header{
    background-color: #68cdd5;
    display:flex;display:-webkit-flex;
    justify-content: space-between;
    align-items:center;
    height:100px;
}

.box1{
    padding-left:20px;
    color: aliceblue;
    font-size:25px;

}
.box2{
    color: aliceblue;
    font-size:25px;

}
.box3 {
    padding-right: 20px;
    color: aliceblue;
    font-size:25px;
}


.main1{
    display:flex;
    margin-top:20px;
    background-color: white;
    align-items: center;
    height:100px;
}
.image1{
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.space1
{
    border:0;
    outline:none;
    -webkit-appearance:none;
    border-left: 1px solid #bababa;
    height:50px;
    padding-left:30px;
font-size:20px;


}

.main2{
    display:flex;
    margin-top:20px;
    background-color: white;
    height:100px;
    align-items:center;
}
.image2{
    width:60px;
    display:flex;
    justify-content: center;
    align-items: center; }

.space2 {
    border: 0;
    outline: none;
    -webkit-appearance: none;
    border-left: 1px solid #bababa;
    height:50px;
    padding-left:30px;
    font-size:20px;
}
.main3{

    background-color: #68cdd5;
    text-align:center;
    line-height:100px;
    margin-top:70px;
}
.press{
    border-width:0;
    outline:none;
    background-color: #68cdd5;
    color: azure;
    font-size:25px;
}
.foot{
    float: right;
    color: #68cdd5;
font-size:25px;
}