
$back-color: #29bde0;
$color: white;
html {
  background-color: $color;
}
body,header,footer {
  min-width: 320px;
  max-width: 780px;
  margin: 0 auto;
  background-color: $back-color;
}
.hd,section,.box-name,.box-number,footer a {
  display: flex;
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  .hd {
    justify-content: space-between;
    text-align: center;
    color: $color;
    img {
      margin: .5rem;
    }
  }
  section {
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #b9e9f5;
    .play {
      width: 30px;
      height: 30px;
      background: url("img/2-header4.png") no-repeat 0 0;
      background-size: 100% 100%;
    }
  }
  .line {
    padding-left: 3rem;
    font-size: .8rem;
    color: $color;
    .line-icon {
      height: 0;
      width: 0;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      border-color: #b9e9f5 transparent transparent transparent;
      border-style: solid dashed dashed dashed;
      border-width: 6px;
    }
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin: 8rem auto 5rem;
  .main-box {
    width: 24%;
    height: 25vw;
    max-height: 187.2px;
    margin: 5% 3%;
    border: 2px solid white;
    .box-name {
       justify-content: center;
       height: 70%;
       background-color: #f5c97b;
     }
     .box-number {
       justify-content: center;
       height: 30%;
       color: white;
       background-color: #83b09a;
     }
  }
  .icon {
    display: none;
    background: url("img/css sprites .png")  no-repeat 0 0;
    background-size: 100% 100%;
    width: 100%;
    height: 4vw;
  }
  .main-box:hover .icon {
    display: block;
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  a {
    justify-content: center;
    height: 3rem;
    margin: 1rem 2rem;
    text-decoration: none;
    color: $color;
    background-color: #f5c97b;
  }
}