@charset "UTF-8";
$back-color: #29bde0;
html {
  overflow: hidden;
  background-color: #eff0f4;
}
.main-block-count,footer {
  display: flex;
  align-items: center;
}


body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 780px;
  position: relative;
  overflow: hidden;
}

#sidemenu {
  display: none;
  //隐藏侧边栏
}
#sidemenu:checked + aside {
  left: 0;
  //点击后侧边栏从页面最左侧显示

}

#sidemenu:checked ~ article {
  padding-left: 50%;
  margin-right: -50%;
  //点击按钮主页内容右移
}

#sideul {
  padding: 0;
  //去除ul自带左内边距*不去除会使侧边栏内容溢出到主页面
}
aside {
  position: absolute;
  left: -50%;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #f0f0f0;
  transition: 0.2s ease-out;
  li {
    list-style: none;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: $back-color;
    text-decoration: none;
    border-bottom: 1px solid #b3b3b3;
  }
}



header {
  background-color: $back-color;
  label {
    /*控制侧边栏进出的按钮*/
    cursor: pointer;
    display: block;
    color: white;
    padding: 1rem;
    transition: 0.2s ease-out;
    //控制侧边栏进出样式
  }
}
main  {
  padding: .5rem 1rem 0 1rem;
  background-color: #f0f0f0;
  > a {
    position: relative;
    display: block;
    padding: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #b3b3b3;
    text-decoration: none;
    border: 1px solid #f0f0f0;
    background-color: white;
    img {
      position: absolute;
      right: .5rem;
      top: 50%;
      transform:translate(-50%,-50%);
    }
  }
  .main-block {
    border: 1px solid #f0f0f0;
    background-color: white;
    .main-block-title {
      padding: 1.5rem;
      text-align: center;
      color: #FF9900;
      border-bottom: 1px solid #FF9900;
    }
    .main-block-count {
      padding: 1rem 0 4rem 3rem;
      background-color: white;
      .main-block-count-items {
        flex: 1;
        .item {
          text-align: center;
          color: #b3b3b3;
          > a {
            display: block;
            padding: 1.5rem;
            color: #dae0e5;
            background-color: $back-color;
            text-decoration: none;
          }
          p {
            font-size: .8rem;
          }
        }
      }
      .main-block-count-icon {
        width: 3rem;
        margin-top: -3rem;
        text-align: center;
      }
    }
  }
}
footer {
  margin-top: -3rem;
  justify-content: center;
  .cycle {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin: 5px;
    background-color: #f0f0f0;
    &:hover {
      background-color: $back-color;
    }
  }
}
