
body {
    margin: 0;
}

.header {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: #68cdd5;
}
.title {
    color: azure;
    font-weight: 700;
}

.image1{
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    height: 1rem;
    width: 1rem;
}


.main {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 2rem;
    height: 12rem;
    background-image: url(img/what.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: azure;
    font-size: 1rem;
}
.image2 {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
 }
.main-1-2 {
    font-size: 0.6rem;
}
.image3 {
    padding-right: 0.5rem;
    height: 1rem;
}


.line1,.line2,.line3,.line4,.line5 {
    display: flex;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid #bababa;
}
.line1-1 {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 3px solid powderblue;
}
.line2 {
     margin-left: 1rem;
    background-color: white;
}
.image4{
    height: 0.8rem;
}
.line2-1 {
    padding-left: 0.3rem;
    padding-right: 0.7rem;
}
.image5 {
    padding-left: 0.7rem;
    height: 0.8rem;
    border-left: 1px solid #bababa;
}
.line2-2 {
    padding-left: 0.3rem;
}

.line3 {
    margin-left: 1rem;
 }
.line3-1 {
    padding-right: 1rem;
    border-right: 1px solid #bababa;
    color: #bababa;
}
.line3-2 {
    padding-left: 1rem;
}

.line4 {
    margin-left: 1rem;
    background-color: white;
}
.line4-1 {
    padding-right: 1rem;
    border-right: 1px solid #bababa;
    color: #bababa;
}
.line4-2 {
    padding-left: 1rem;
}

.line5 {
    margin-left: 1rem;
    background-color: white;
}
.line5-1 {
    padding-right: 1rem;
    border-right: 1px solid #bababa;
    color: #bababa;
}
.line5-2 {
    padding-left: 1rem;
    color: red;
}

.line6 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bababa;
    margin-bottom: 7rem;
    background-color: white;
}
.line6-1 {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #bababa;
    color: #bababa;
    white-space: nowrap;
}
.line6-2 {
    padding: 1rem;
    line-height: 1;
    font-size: 0.8rem;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
}
.footer1 {
    float: left;
    width: 45%;
    height: 3rem;
    border: 1px solid #68cdd5;
    border-radius: 1em;
    margin-top: 1rem;
    margin-left: 3%;
    background-color: white;
}
.footer2 {
    float: right;
    width: 45%;
    height: 3rem;
    border: 1px solid #68cdd5;
    border-radius: 10px;
    margin-top: 1rem;
    margin-right: 3%;
    background-color: #68cdd5;
}