body {
    margin: 0;
}
header {
    width: 100%;

}
.hd-box {
    background-color: #1d7ad9;
}
.hd-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
}
.hd-btn {
    display: flex;
}
.hd-btn-left {
    padding: .3rem .5rem;
    border-left: 2px solid #f0f0f0;
}
.hd-btn-right {
    padding: .3rem .5rem;
    border-right: 2px solid #f0f0f0;
}
.hd-btn-left,
.hd-btn-right:hover {
    padding: .3rem 1rem;
    color: black;
    background-color: #f0f0f0;
}
.hd-block {
    background-color: whitesmoke;
}
.navbar {
    display: flex;
    justify-content: flex-end;
}
.text-bot {
    justify-content: flex-end;
}
.navbar-nav {
    display: flex;
}
.nav-item {
    text-align: center;
    margin: 1rem .5rem;
    background-color: #fff;
    border: .5px solid #b3b3b3;
    border-radius: 10px;
}
.nav-item:hover {
    background-color: #1d7ad9;
}


.main-pt-block {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
    text-align: center;
}

@media screen and (max-width: 780px) {
    .main-pt-block {
        justify-content: center;
    }
}
.main-pt-box {
    padding: 2rem 0;
}
.main-pt {
    display: flex;
    align-items: center;

}
.main-ob {
    width: 2.7rem;
    height: .4rem;
    background-color: #ccc;

}
.main-circle {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    color: white;
    background-color: #ccc;
    border-radius: 50%;
}
.main-pt-text {
    padding-top: 1rem;
    color: #b3b3b3;
}
.main-pt-box:hover .main-ob,
.main-pt-box:hover .main-circle {
    color: #f0f0f0;
    background-color: #FF9900;
    }

.main-pt-box:hover .main-pt-text {
    color: #FF9900;
    }
.page-tt {
    display: flex;
    margin: .5rem auto;
}
.page-ob {
    width: .3rem;
    background-color: #1d7ad9;
    border: 1px solid #1d7ad9;
    border-radius: 5px;
}
.page-title {
    margin: 0;
    padding-left: 1rem;
}


.page-box {
    padding: .5rem 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #1d7ad9;
    background-color: whitesmoke;
}
.box-icon {
    margin: .5rem;
}
.box-text {
    display: inline-block;
    vertical-align: middle;
}

.size {
    margin: 0;
    padding: 1rem;
    background-color: #fbfcff;
}
.size-a {
    text-align: center;

}

input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1rem;
    height: 1rem;
    margin-right: .4rem;
    text-indent: .15rem;
    line-height: 1;
}

input[type="radio"]:checked + label::before {
    background-clip: content-box;
    border: .3em solid #1d7ad9;
    border-radius: 50%;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}



.box-put {

}


.box-put select {
    position: relative;
    -moz-appearance:none;
    -webkit-appearance: none;
    padding: .5rem 1.5rem .5rem 1rem;
    background-image: url("圆角矩形 10 拷贝.png");
    background-repeat: no-repeat;
    background-position: 6.5rem;
    color: #999999;
    outline: none;
}

.page-rule {
    padding: .5rem 0;
    color: #1d7ad9;
    background-color: whitesmoke;
}

.rule-icon {
    margin: .5rem;
}
.rule-text {
    display: inline-block;
    vertical-align: middle;
}






























.ft-box {
    padding: 2rem 0;
}
.ft-center-box {
    margin-bottom: 2rem;
}
.ft-center-item {
    padding: .5rem;
}

.ft-bottom {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #f0f0f0;
    background-color: #1d7ad9;
}
