.task14-subpage-profassional .tag > .col {
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid; }
  .task14-subpage-profassional .tag > .col > a {
    text-decoration: none;
    color: #26a26f; }
.task14-subpage-profassional .direction {
  border-bottom: 1px solid; }
  .task14-subpage-profassional .direction > .col > div {
    padding: 1rem 0; }
    .task14-subpage-profassional .direction > .col > div a {
      padding: 0 .5rem;
      color: black;
      text-decoration: none; }
      .task14-subpage-profassional .direction > .col > div a:hover {
        background-color: #26a26f; }
.task14-subpage-profassional .content-title {
  border-bottom: 1px solid; }
.task14-subpage-profassional .content-card .card-body .wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 10rem 3rem 3rem 2rem 2rem 2rem 3rem 3rem;
  grid-template-columns: repeat(10, 10%);
  border: 1px solid; }
  .task14-subpage-profassional .content-card .card-body .wrapper > img {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 80%;
    margin: 10px; }
  .task14-subpage-profassional .content-card .card-body .wrapper > .card-text {
    grid-column-start: 6;
    grid-column-end: 11; }
    .task14-subpage-profassional .content-card .card-body .wrapper > .card-text h3 {
      text-align: center; }
    .task14-subpage-profassional .content-card .card-body .wrapper > .card-text p {
      word-break: break-all;
      font-size: .8rem; }
  .task14-subpage-profassional .content-card .card-body .wrapper .subtitle {
    grid-column-start: 1;
    grid-column-end: 6;
    line-height: 3rem;
    padding: 0 10px;
    font-size: .8rem;
    border-top: 1px solid;
    border-right: 1px solid; }
    .task14-subpage-profassional .content-card .card-body .wrapper .subtitle a {
      color: red; }
  .task14-subpage-profassional .content-card .card-body .wrapper .summary-one {
    grid-column-start: 6;
    grid-column-end: 11;
    padding: 15px 10px;
    font-size: .8rem;
    border-top: 1px solid; }
  .task14-subpage-profassional .content-card .card-body .wrapper .summary-two {
    grid-column-start: 6;
    grid-column-end: 11;
    padding: 15px 10px;
    font-size: .8rem;
    border-top: 1px solid; }
    .task14-subpage-profassional .content-card .card-body .wrapper .summary-two > a {
      color: red; }
  .task14-subpage-profassional .content-card .card-body .wrapper .payroll {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
    line-height: 6rem;
    text-align: center;
    padding: 0 10px;
    border-top: 1px solid;
    border-right: 1px solid; }
  .task14-subpage-profassional .content-card .card-body .wrapper .payroll-summary {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
    line-height: 2rem;
    padding: 0 10px;
    font-size: .8rem;
    border-top: 1px solid; }
    .task14-subpage-profassional .content-card .card-body .wrapper .payroll-summary a {
      float: right; }
  .task14-subpage-profassional .content-card .card-body .wrapper .payroll-summary-two {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
    line-height: 2rem;
    padding: 0 10px;
    font-size: .8rem;
    border-top: 1px solid; }
    .task14-subpage-profassional .content-card .card-body .wrapper .payroll-summary-two a {
      float: right; }
  .task14-subpage-profassional .content-card .card-body .wrapper .payroll-summary-three {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 7;
    line-height: 2rem;
    padding: 0 10px;
    font-size: .8rem;
    border-top: 1px solid; }
    .task14-subpage-profassional .content-card .card-body .wrapper .payroll-summary-three a {
      float: right; }
  .task14-subpage-profassional .content-card .card-body .wrapper .status {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
    line-height: 3rem;
    padding: 0 10px;
    border-top: 1px solid; }
    .task14-subpage-profassional .content-card .card-body .wrapper .status span {
      color: red; }
  .task14-subpage-profassional .content-card .card-body .wrapper .message {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 9;
    min-height: 3rem;
    padding: 5px 10px;
    font-size: .8rem;
    border-top: 1px solid; }
    .task14-subpage-profassional .content-card .card-body .wrapper .message > span {
      margin: auto; }
  .task14-subpage-profassional .content-card .card-body .wrapper .demo {
    display: none;
    position: absolute;
    height: 100%;
    top: 0;
    text-align: center;
    color: #dae0e5;
    opacity: 1;
    -webkit-animation: cartoon 2s;
    background: url("../task8/image/u=1420534138,2413426954&fm=26&gp=0.jpg") no-repeat 0 0;
    background-size: 100% 100%; }
    .task14-subpage-profassional .content-card .card-body .wrapper .demo > span {
      display: block;
      padding: 20px 10px; }
  .task14-subpage-profassional .content-card .card-body .wrapper:hover .demo {
    display: block; }
@keyframes cartoon {
  50% {
    border-radius: 50%; }
  100% {
    -webkit-transform: rotateY(360deg);
    border-radius: 0; } }

/*# sourceMappingURL=task14-2.css.map */
