body {
    margin: 0;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 8rem;

}



.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: #29bde0;
}
.header1-1 {
    padding-left: 2vw;
}
.header1-1-1 {
   width: 1.2rem;
    height: 1.2rem;
}
.header1-2 {

    color: ghostwhite;
}
.header1-3 {

    padding-right: 2vw;
}
.header1-3-1 {
    width: 1.2rem;

}


.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: rgba(0,0,0,-1);

}
.header2-1 {
    padding-left: 3vw;
}
.header2-2 {
    display: flex;
    align-items: center;
    width: 2rem;
    padding-right: 1rem;
}
.header2-2-1 {
    width: 2rem;
}

.header3 {
    height: 2rem;
    padding: 0;
    background: url("讨论页/小多边形 1.png") no-repeat 3vw 0;
    background-color: #29bde0;
}
.header3-1 {
    height: 4vw;
    line-height: 4vw;
    padding-left: 3vw;
    color: ghostwhite;
}





.main {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    margin-top: 8rem;
    margin-bottom: 5rem;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: #29bde0;

}

.main3-1-big {
    position: relative;
    float: left;
    width: 20vw;
    height: 20vw;
    margin: 6vw 4vw;
    border: 3px solid #f0f0f0;

}
.main3-1-big1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 16vw;

    background-color: #f5c97b;

 }
.main3-1-big2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vw;
    font-size: .8rem;
    color: ghostwhite;
    background-color: #83b09a;

}

.main3-1-small {
     position: absolute;
     display: none;
     width: 20vw;
     height: 4vw;
     padding: 0;
     text-align: center;
}
.main3-1-small2 {
    vertical-align: middle;


}
.main3-1-big:hover  .main3-1-small {
    display: block;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    border-top: 2px solid #f0f0f0;
    background-color: #29bde0;
}
.footer1 {
    width: 80%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: ghostwhite;
    background-color: #FF9900;
}