body, header, footer {
  min-width: 320px;
  max-width: 780px; }

header, footer, .box, .count, main .block .item, main .block .item-filed {
  display: flex; }

body {
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #68cdd5; }
  header a {
    background: url("img/back.png") no-repeat 0 0;
    background-size: 100% 100%;
    width: .8rem;
    height: 1.2rem;
    margin-left: 1rem; }
  header span {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: #f0f0f0; }

main {
  margin-top: 3rem;
  margin-bottom: 6rem;
  background-color: #f0f0f0; }
  main .box {
    justify-content: flex-start;
    align-items: center;
    height: 16rem;
    background: url("img/what.png") no-repeat 0 0;
    background-size: 100% 100%; }
    main .box .box-img {
      width: 10rem;
      height: 10rem;
      margin: 0 1rem; }
    @media screen and (max-width: 480px) {
      main .box .box-img {
        width: 5rem;
        height: 5rem; } }
    main .box div {
      color: #f0f0f0; }
      main .box div article {
        font-size: 1.2rem; }
      main .box div span {
        display: flex;
        align-items: center;
        padding: .6rem 0; }
        main .box div span .icon {
          margin-right: 1rem; }
  main .block {
    border-bottom: 1px solid #b3b3b3; }
    main .block article {
      border-bottom: 1px solid #b3b3b3; }
      main .block article span {
        display: inline-block;
        vertical-align: middle;
        width: 2px;
        height: .7rem;
        margin: 1rem;
        background-color: #68cdd5; }
    main .block .count, main .block .item, main .block .item-filed {
      align-items: center;
      border-bottom: 1px solid #b3b3b3; }
      main .block .count span, main .block .item span, main .block .item-filed span {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        padding: 0; }
        main .block .count span img, main .block .item span img, main .block .item-filed span img {
          padding: 1rem; }
    main .block .item, main .block .item-filed {
      border-bottom: 1px solid #b3b3b3;
      margin-left: 1rem; }
      main .block .item p, main .block .item-filed p {
        padding: 0 1rem;
        white-space: nowrap;
        color: #b3b3b3; }
      main .block .item section, main .block .item-filed section {
        min-width: 3rem;
        padding: 5px;
        font-size: .8rem;
        color: #b3b3b3; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6rem;
  justify-content: center;
  background-color: #f0f0f0; }
  footer .btn-left, footer .btn-right {
    display: flex;
    justify-content: center;
    outline: none;
    text-decoration: none;
    width: 45%;
    height: 3rem;
    line-height: 3rem;
    margin: 1.5rem 2.5% 1rem 2.5%;
    color: #68cdd5;
    border: 1px solid #68cdd5;
    border-radius: 10px; }
  footer .btn-right {
    color: #f0f0f0;
    background-color: #68cdd5; }

/*# sourceMappingURL=task12.css.map */
