.header {
    position: fixed;
    left: 0; top: 0;
    display: flex;
    width: 100%; height: 60px;
    justify-content: center;
    align-items: center;

    background-color: #5fc0cd;
}
.header1 {

}
.header1-1 {
    outline: none;
    width: 100px;
    height: 50px;
    margin-right: -15px;
    padding-right: 15px;
    border-width: 0;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    background-color: #55a8b3;
}
.header1-2 {
    width: 100px;
    height: 50px;
    border: #1b6d85;
    border-radius: 10px;
    font-size: 20px;
    color: #55a8b3;
    background-color: #ffffff;

}
.header2 {
    position: absolute;
    top: 15px;
    right: 20px;
    outline: none;
    align-items: center;
    width: 20px;
    height: 30px;


}




.drop{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
    height: 40px;


}
.dropdown {
    width: 33%;
    height: 40px;


}
.box1 {



}
.dropdown-content {

}





.drop2{
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 40px;
    text-align: center;
    background-color: #2aabd2;

}
.drop3{
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 40px;
    text-align: center;
    background-color: #68cdd5;
}







.main{
    display: flex;
    flex-flow: row wrap;
    align-items:center;

    border:1px solid #bababa;




}
.main2{

}
.main3{

}






.lost{
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    justify-content: center;

    width: 70%;
    height: 90px;


}
.lost1 {
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-image: url(img/calendar2.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px 5px;
}


.lost2{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-color: cadetblue;
}
.lost3{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-image: url("../task5/img/Shape 4.png");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 5px 75px;
}



.line{

    color: red;
    font-size:18px;
}
.line2{

}
.line3{

}


.footer{
    position: fixed; left: 0; bottom: 0;
    display:flex;
    justify-content:space-around;
    width: 100%; height: 80px;




}
.footer1{
    display:flex;
    flex-direction:column;
    text-align: center;
}
.footer2{
    width:30px;
    height:30px;
    background-image: url(img/买卖牛人.png);

}
.footer3{
    display:flex;
    flex-direction:column;
    text-align: center;

}