body{
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    left: 0; top: 0;
    display: flex;
    width: 100%; height: 60px;
    justify-content: center;
    align-items: center;

    background-color: #5fc0cd;
}
.header1 {

}
.header1-1 {
    outline: none;
    width: 100px;
    height: 50px;
    margin-right: -15px;
    padding-right: 15px;
    border-width: 0;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    background-color: #55a8b3;
}
.header1-2 {
    width: 100px;
    height: 50px;
    border: #1b6d85;
    border-radius: 10px;
    font-size: 20px;
    color: #55a8b3;
    background-color: #ffffff;

}
.header-image {
    position: absolute;
    top: 17px;
    right: 20px;
    outline: none;
    align-items: center;
    width: 20px;
    height: 26px;
}




.box {
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #bababa;
}


.dropdown {
    position: relative;
    height: 25px;
    width: 33%;
    border-right:1px solid #bababa;
    text-decoration: none;
    text-align: center;
    align-items: center;
    background: url("img/形状 1 拷贝.png") no-repeat 98% center ;

}
.box-1 {
    display: block;
    text-align: center;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border-bottom:1px solid  whitesmoke ;
    list-style: none;
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;

}











.main{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    width: 100%;
    border-bottom: 1px solid #bababa;




}
.main2{

}
.main3{

}






.lost{
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    justify-content: center;
    width: 200px;
    height: 90px;
    font-size: 14px;
}
.lost1 {
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background: url("img/calendar2.png") no-repeat 5px 5px;
    background-size: 15px 15px;
}
.lost2{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
}
.lost3{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background: url("img/Shape 4 拷贝.png") no-repeat  5px 5px;
    background-size: 15px 15px;
}

.box-2{
    flex: 1;
}

.line{
    width: 100px;
    color: red;

}
.line2{

}

.image-space{
    width: 15px;
    height: 20px;
}

.main-2{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    width: 100%;
    margin-bottom: 80px;
    border-bottom: 1px solid #bababa;

}

.footer{
    position: fixed; left: 0; bottom: 0;
    display:flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background: white;



}
.footer1{
    display:flex;
    flex-direction:column;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
}
.footer1-image {
    width: 30px;
    height: 30px;
}
.footer2{
    width:30px;
    height:30px;
    border-radius: 50%;
    font-size: 14px;
    background-color: #68cdd5;
    text-align: center;
}
.footer2-image {
    width: 15px;
    height: 15px;
}


.footer3 {
    display: flex;
    flex-flow:  wrap;
    justify-content: center;

    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
}
.footer3-image{
    width: 30px;
    height: 30px;


}