body{
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    left: 0; top: 0;
    display: flex;
    width: 100%; height: 60px;
    justify-content: center;
    align-items: center;

    background-color: #5fc0cd;
}
.header1 {

}
.header1-1 {
    outline: none;
    width: 100px;
    height: 50px;
    margin-right: -15px;
    padding-right: 15px;
    border-width: 0;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    background-color: #55a8b3;
}
.header1-2 {
    width: 100px;
    height: 50px;
    border: #1b6d85;
    border-radius: 10px;
    font-size: 20px;
    color: #55a8b3;
    background-color: #ffffff;
}
.header-image {
    position: absolute;
    top: 17px;
    right: 20px;
    outline: none;
    align-items: center;
    width: 20px;
    height: 26px;
}




.box {
    position: fixed; top: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    color: lightslategray;
    border-bottom: 1px solid #bababa;
    background-color: ghostwhite;
}
.dropdown {
    position: relative;
    height: 25px;
    width: 33.33%;
    border-right:1px solid #bababa;
    text-align: center;
    align-items: center;
    background: url("img/形状 1 拷贝.png") no-repeat 90% center ;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    border:1px solid  whitesmoke ;
    list-style: none;
    color: lightslategray;
    background-color: #ffffff;
}
.dropdown:hover .dropdown-content {
    display: block;
}




.main {
    margin-top: 100px;
    margin-bottom: 60px;
    width: 100%;
}
.lost {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #bababa;
    padding-left: 25px;
    background: url("img/calendar2.png") no-repeat  5px 7px, url("img/Shape 4 拷贝.png")  no-repeat  5px 67px;
    background-size: 16px 16px;
}
.lost1 {
    display: flex;
    align-items: center;
    height: 30px;
    min-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: lightslategray;
}
.lost2 {
    display: flex;
    height: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
}
.lost2-2{
    min-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.line2 {
    padding-right: 10px;
    color: red;
}
.image-space {
    vertical-align: middle;
    width: 15px;
    height: 15px;
}
.lost3 {
    display: flex;
    align-items: center;
    height: 30px;
    min-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: lightslategray;
}





.footer {
    position: fixed; left: 0; bottom: 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background: white;
    border-top: 1px solid #bababa;
}
.footer1 {
    display:flex;
    flex-direction:column;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 14px;
}
.footer1-image {
    width: 40px;
    height: 30px;
}
.footer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    font-size: 14px;
    background-color: #68cdd5;
    text-align: center;
}
.footer2-image {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.footer3 {
    display: flex;
    flex-flow:  wrap;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 14px;
}
.footer3-image {
    width: 40px;
    height: 25px;
}