.header{
    position: fixed; left: 0; top: 0;
    display:flex;
    width: 100%; height: 80px;

    align-items:center;
    background-color: #68cdd5;
}
.header1{

    outline:none;
    text-align:center;

    width:100px;height:60px;
    background-color: cadetblue;
}
.header1-1{

}
.header1-2{

}
.header2{
    outline:none;
    align-items:center;
    width:100px;height:60px;
}
.header2{
    float:right;
}



.drop{display:flex;
    flex-flow:row;
    text-align:center;
    align-items:center;
    margin-top:80px;
    width: 100%;
    height: 50px;


}
.drop1{
    flex-grow:1;
}
.drop2{
    flex-grow:1;
}
.drop3{
    flex-grow:1;
}





.main{
    display: flex;
    flex-flow: row wrap;
    align-items:center;

    border:1px solid #bababa;




}
.main2{

}
.main3{

}






.lost{
    flex:2;
    display:inline;
}
.lost1{
    width:70%;
}
.image2{
    margin:5px;
}
.lost-1-2{

}
.lost2{
}
.lost3{
}
.image3{
}
.lost-3-2{
}

.line{
    flex:1;
    color: red;
    font-size:18px;
}
.line2{

}
.line3{

}


.footer{
    position: fixed; left: 0; top: 0;
    width: 100%; height: 80px;


}
.footer1{

}
.footer2{

}
.footer3{

}