.header{
    position: fixed;
    left: 0; top: 0;
    display: flex;
    width: 100%; height: 80px;
    justify-content:center;
    align-items: center;
    background-color: #68cdd5;
}
.header1{
    outline:none;
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
}
.header1-1{

    width: 100px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    border-width: 0;

}
.header1-2{
    width: 100px;
    height: 60px;
    border-radius: 10px;

}
.header2{
    position:absolute; top: 25px;right: 20px;
    outline:none;
    align-items:center;
    width:35px;height:30px;


}
.header2{
    float:right;
}



.drop{
    display: flex;
    flex-flow: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top:80px;
    width: 100%;
    height: 50px;


}
.drop1{
    width: 33%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.drop2{

    width: 33%;
}
.drop3{
    width: 33%;
}

.drop1-1{

    outline: none;
    width: 100%;
    height: 40px;
    line-height: 30px;


    border-right: 1px solid #bababa;
}



.main{
    display: flex;
    flex-flow: row wrap;
    align-items:center;

    border:1px solid #bababa;




}
.main2{

}
.main3{

}






.lost{
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    justify-content: center;

    width: 70%;
    height: 90px;

    background-color: #68cdd5;
}
.lost1{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-image: url(img/calendar2.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px 5px;
    background-color: #bababa;
}


.lost2{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-color: cadetblue;
}
.lost3{
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    background-image: url("img/Shape 4.png");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 5px 75px;
}



.line{

    color: red;
    font-size:18px;
}
.line2{

}
.line3{

}


.footer{
    position: fixed; left: 0; bottom: 0;
    display:flex;
    justify-content:space-around;
    width: 100%; height: 80px;




}
.footer1{
    display:flex;
    flex-direction:column;
    text-align: center;
}
.footer2{
    width:30px;
    height:30px;
    background-image: url(img/买卖牛人.png);

}
.footer3{
    display:flex;
    flex-direction:column;
    text-align: center;

}