body {
    margin: 0;
}
header {




}
.header-top {
    height: 4rem;
}
.header-top-text {
    line-height: 4rem;
    color: #28a745;

}
.header-top-image {

}
.header-top-image-left {
    height: 1.5rem;
    line-height: 2rem;
}
.header-top-image-middle {
    height: 1.5rem;
    line-height: 2rem;
}
.header-top-image-right {
    height: 1.5rem;
    line-height: 2rem;
}
.header-bottom-nav {
    float: right;
}
.header-bottom-link {
    display: inline;
    list-style: none;
}