body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f0f0f0;
}
header {
    width:100%;
}

.header-top {

    display: flex;
    align-items: center;
    height: 2.6rem;

}
.header-top-text {
    font-size: 1.2rem;
    line-height: 2.6rem;
    color: #28a745;
}
.header-top-image {
    display: flex;
    justify-content: flex-end;
}
.header-top-image-left {
    height: 1.8rem;
    padding: 0 .2rem;
}
.header-top-image-middle {
    height: 1.8rem;
    padding: 0 .2rem;
}
.header-top-image-right {
    height: 1.8rem;
    padding: 0 .2rem;
}
.header-box {
    display: none;
    height: 2rem;
}

.header-box-btn {

    line-height: 2rem;
    float: right;
    border: none;
    background-color: transparent;
    outline: none;
}
.header-top-link {
    color: #28a745;
    text-decoration: none;
}
.header-top-link:hover {
    text-decoration: none;
    color: #28a745;
}





.header-bottom {
    background-color: #28a745;
}
.navbar  {
    width: 100%;
    padding: 0;
    margin: 0;
}
.hd-bottom-text-top {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
}
.hd-bottom-text-bottom {
    display: block;
    font-size: 1rem;
}
.text-bot {
    text-align: center;
    justify-content: flex-end;
}
.nav-link {
    padding: 0 ;
    height: 10vh ;
    line-height: 10vh ;
    text-align: center;
    font-size: 1.4rem;
}
.nav-item :hover{
    display: block;
    font-size: 1.6rem;
    border-bottom: 2px solid #f0f0f0 ;
}

@media screen and (max-width:780px) {
    .header-box {
        display: block;
    }
    .header-top {
        display: none;
    }

}








.image {
    width: 100%;
}
.main-title {
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
}
.block {
    display: flex;
    justify-content: space-between;
}
.left-box {
    padding: 2rem;

}
.block-left {
    background-color: white;
    border: 1px solid #b3b3b3;
}
.block-left-title {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    border-bottom: 1px solid #b3b3b3;
}
.block-left-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.block-left-items {
    display: flex;
    align-items: center;
    margin: auto;
    height: 3rem;
    list-style: none;
}
.content-icon {
    width: 1rem;
    height: 1rem;
    border: 1px solid #FF9900;
    border-radius: 50%;
}
.content-text {
    color: #28a745;
}

.block-left-items:hover .content-icon{
    background-color: #FF9900;

}
.block-left-items:hover .content-text {
    color: #FF9900;
}


.right-box {
   padding: 2rem;
}
.block-right {
    color: #b3b3b3;
    background-color: white;
    border: 1px solid #b3b3b3;
}
.block-right-top {

    border-bottom: 1px solid #b3b3b3;
}
.block-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 10rem;
    padding: 1rem 2rem;


}

.block-image {
    width:8rem;
    height: 8rem;

}
.block-ct-text {
    flex: 3;
    padding: 1rem 3rem 1rem 1rem;

}
.ct-text {
    margin: 1rem;
}
.block-aa-text {
    padding: 1rem 4rem;
}

.block-bb-text {
    padding: 1rem 4rem;
}

.block-cc-text {
    padding: 1rem 4rem;
}

.block-dd-text {
    padding: 1rem 4rem;
}

.block-ee-text {
    padding: 1rem 4rem;
}

.block-ff-text {
    padding: 1rem 4rem;
}




























footer {
    background-color: #26a26f;
    width: 100%;
}
.footer-block {

    padding: 2rem  0 1rem 0;
    color: #f0f0f0;

}
.footer-left {
    display: flex;
    justify-content: center;
}

.footer-center {
    display: flex;
    justify-content: center;
}

.footer-right {
    display: flex;
    justify-content: center;
}

.jnshu {

}
.footer-left-block {
    padding-top: 1.5rem;
    white-space: nowrap;
}
.footer-center {
    padding: 1rem 0;
}
.footer-center-block {
    padding: .5rem .25rem;
}
.footer-right {
    text-align: center;

}
.footer-box {
    display: flex;
    justify-content: center;
    font-size: .8rem;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

